.link {
  color: green;
  background-color: cyan;
  font-size: 50px;
  text-shadow: 10px 10px 5px;
  text-align: center;
}
a {
  color: red;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  text-transform: capitalize;
}

* {
  text-decoration: none;
}
.link.photo {
  color: blue;
  font-size: 30px;
  background-color: red;
}
.link.blog {
  color: darkgreen;
  background: yellow;
  font-size: 30px;
}
.paragraph {
  color: rgb(145, 30, 232);
  text-align: center;
}
a.link {
  text-align: center;
}
.menu-link {
  font-family: "Courier New", Courier, monospace;
  background-color: white;
  color: black;
  border: 2px solid #04aa6d;
  padding: 10px 20px;
  display: inline-block;
  text-align: center;
  cursor: crosshair;
}
.paragraph.two {
  unicode-bidi: bidi-override;
  direction: rtl;
}
img {
  display: block;
  max-width: 230px;
  max-height: 95px;
  width: auto;
  height: auto;
}
.textdecor {
  text-decoration: line-through;
}
a:link {
  color: red;
}
a:visited {
  color: green;
}
a:hover {
  color: cyan;
}
a:active {
  color: blue;
}
