.col-1 {
  flex-basis: 8.333333%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-2 {
  flex-basis: 16.666667%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-3 {
  flex-basis: 25%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-4 {
  flex-basis: 33.333333%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-5 {
  flex-basis: 41.666667%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-6 {
  flex-basis: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-7 {
  flex-basis: 58.333333%;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 32px;
}

.col-8 {
  flex-basis: 66.666667%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-9 {
  flex-basis: 75%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-10 {
  flex-basis: 83.333333%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-11 {
  flex-basis: 91.666667%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-12 {
  flex-basis: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.justify-center {
  justify-content: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.row {
  display: flex;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 132px;
  background-color: #f0f2f5;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f0f2f5;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
.login {
  padding-left: 35px;
}
.login-recent {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}
.flex {
  display: flex;
}
.photo {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.name-photo {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.avatar {
  border: 1px solid #f5f6f7;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
a {
  text-decoration: none;
}
.avatar:hover {
  box-shadow: 0px 0px 3px 3px rgb(204, 193, 193);
}
.account {
  text-align: center;
  padding: 6px 0px;
}
.style-input {
  padding: 14px 16px;
  font-size: 17px;
  width: 330px;
  border-radius: 6px;
  outline: none;
  border: 1px solid #dddfe2;
}
.style-input:focus {
  border-color: #1877f2;
}
.button-login {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #166fe5;
  text-decoration: none;
  text-align: center;
  width: 332px;
  border-radius: 7px;
  border: none;
  font-size: 25px;
  height: 50px;
}
.send-login {
  text-align: center;
  padding-top: 7px;
  padding-bottom: 6px;
}
.text-color {
  color: #fff;
}
.forgot-password {
  text-align: center;
  display: block;
  padding-top: 6px;
  color: #1877f2;
  border-bottom: 1px solid #dddfe2;
  padding-bottom: 30px;
}
.button-newaccount {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(7, 170, 7);
  text-decoration: none;
  text-align: center;
  width: 240px;
  border-radius: 7px;
  border: none;
  font-size: 25px;
  height: 50px;
}
.new-account {
  text-align: center;
  padding: 15px;
}
.form {
  padding-top: 10px;
  margin-top: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  width: 400px;
}
.line-height {
  line-height: 1.4;
}
.font-size {
  font-size: 14px;
}
.container2 {
  background-color: white;
  padding: 50px;
}
.border-bottom {
  border-bottom: 1px solid black;
}
